* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans"; 
  
}

body {
  background: #191919;
  color: white;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

/* @media(max-width: 100px){
  .container{
    margin: 10px;
  }
} */