.title{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 280px;
  font-size: 50px;
  position: relative;
  background: linear-gradient(to right, rgb(0, 170, 255), #ff00ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: -100px;
}
.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 280px;
    margin-bottom: -100px;
    top: 60px;
  }
.about{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    padding: 0px 320px;
    margin-top: -50px;
    text-align: justify;
}

.functions{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 30px;
    padding: 0px 320px;
    margin-top: 0px;
    color: #ff00ff;
}
.list{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-size: 20px;
    padding: 0px 320px;
    margin-top: 0px;
    color: white;
    text-align: justify;
    
}
.ul{
    list-style-type:none; 
}


