.header {
  /* background: #0D0D0D; */
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  position: relative;
  padding-top: 60px;
}

.newTaskForm {
  position: absolute;
  height: 54px;
  bottom: -27px;
  width: 100%;
  max-width: 736px;
  display: flex;
  gap: 8px;
  padding: 0 1rem;
}

.inputTitle {
  height: 70%;
  width: 87%;
  flex: 1;
  color: white;
  border: 1.5px solid black;
  max-width: 736px;
  border-radius: 8px;
  padding: 0 16px;
  font-size: 14px;
  background: #333333;
}

.inputDescription {
  position: absolute;
  border: 1px solid black;
  color: white;
  border-radius: 8px;
  bottom: -25px;
  width: 43%;
  max-width: 736px;
  display: flex;
  gap: 8px;
  padding: 1rem;
  height: 20%;
  font-size: 14px;
  background: #333333;
  /* width: 44.5%; */
}

.newTaskForm input::placeholder {
  color: white;
}

.addButton {
  height: 70%;
  padding: 0 10px;
  background: blueviolet;
  color: #fff;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  font-size: 14px;
}

.error {
  position: absolute;
  bottom: -50px;
  color: yellow;
  font-size: 14px;
  background: none;
  text-transform: uppercase;
  text-decoration: solid;
}

.inputError {
  border: 3px solid yellow !important;
  color: yellow;
}

.deleteAllTasks {
  height: 70%;
  padding: 0 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  font-size: 14px;
}

.todoApp {
  display: flex;
  position: absolute;
  flex-direction: column;
  background: blueviolet;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  bottom: 180px;
  gap: 10px;
  font-size: 40px;
}

.completeAllTasks{
  height: 70%;
  padding: 0 10px;
  background: blue;
  color: white;
  border: none;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-weight: 700;
  font-size: 14px;
}
